*{
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(146, 177, 235);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contenido {
    width: 70%;
    margin: 0px auto;
    border: 5px solid rgb(103, 119, 170);
}

header {
    background: rgb(138, 109, 172);
    height:75px;
    width: 100%;
    text-align: center;
    line-height: 75px;
    color: rgb(55, 8, 99);
    border-bottom: 2px dashed white;
}

nav {
    background: rgb(76, 49, 102);
    height: 50px;
    border: 5px outset black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 25px;
}

a {
    color: aliceblue;
}
.clear {
    clear: both;
}

section {
    float: left;
    width: calc(80%-80px);
    background: rgb(193, 177, 201);
    min-height: 400px;
    padding-left: 40px;
    padding-right: 40px;
}
aside {
    float: left;
    width: calc(20% - 20px);
    background: beige;
    min-height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background: burlywood;
    text-align: center;
    height: 30px;
    line-height: 30px;
}